!!!
%html
  %head
    %title AngularJS
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
      %link(href="/style.css" rel="stylesheet" type="text/css")
        %link(href="/syntaxhighlighter/shThemeDefault.css" rel="stylesheet" type="text/css")
          %script(src="/js/jquery-1.7.min.js")
          %script(src="/js/angular-1.0.0rc8.min.js")
          %script(src="/presentation.js")
          %script(src="/syntaxhighlighter/shCore.js")
          %script(src="/syntaxhighlighter/shBrushJScript.js")
          %script(src="/syntaxhighlighter/shBrushXml.js")
          :javascript
            SyntaxHighlighter.all();
  %body(ng-app="PresentationModule" ng-controller="PresentationController")
    #intro
      %h1 Sup, AngularJS?
      %h2 Glen Maddern
      %h3 @glenmaddern
    %p#counter(ng-show="isInsideDeck()")
      %a(href="#/slides/1") «
      ((activeSlide + 1)) / ((totalSlides))
      %a(href="#/slides/((totalSlides))") »
    %deck(current="activeSlide" total="totalSlides")
      %slide
        %h2 Simplest example
        %example(name="example_one")
      %slide
        %h2 Live updating
        %example(name="example_two")
      %slide
        %h2 Wait
        %ul
          %li But, but, putting JS in HTML is bad!
          %li Oh wait, no it isn't.
      %slide
        %h2 The old days (actually right now)
        %ul
          %li http://www.microsoft.com/en-us/default.aspx
          %li http://php.net/docs.php
          %li http://www.catchoftheday.com.au/index.php
          %li http://www.ebay.com.au/sch/i.html?_nkw=lolwtf
      %slide
        %h2 HTML is a DSL, why not improve it?
        %ul
          %li Directives

